{% extends 'base.html' %}

{% block content %}

<div class="stats-card"
style="
max-width:500px;
margin:auto;
">

    <h3 class="mb-4 text-center">
        Change Password
    </h3>

    <form method="POST">

        <div class="mb-3">

            <label>
                New Password
            </label>

            <input type="password"
            name="password"
            class="form-control"
            required>

        </div>

        <button class="btn btn-success w-100">

            Update Password

        </button>

    </form>

</div>

{% endblock %}