{% extends 'base.html' %}

{% block content %}

<div class="container py-4">

    <h2 class="mb-4">
        General Information
    </h2>

    <div class="card p-3 mb-3">

        <a href="/terms"
           style="text-decoration:none;color:black;">

            📄 Terms & Conditions →

        </a>

    </div>

    <div class="card p-3 mb-3">

        <a href="/privacy"
           style="text-decoration:none;color:black;">

            🔒 Privacy Policy →

        </a>

    </div>

<div class="card p-3 mb-3">

    <a href="/contact"
       style="text-decoration:none;color:black;">

        📞 Contact Us →

    </a>

</div>

{% endblock %}