<!DOCTYPE html>
<html>

<head>

    <title>Payment</title>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>

    <button id="rzp-button">

        Pay ₹{{ amount }}

    </button>

    <script>

        var options = {

            "key": "{{ razorpay_key }}",

            "amount": "{{ order.amount }}",

            "currency": "INR",

            "name": "HR Exchange",

            "description": "Buy Credits",

            "order_id": "{{ order.id }}",

            "handler": function (response){

                window.location.href="/payment-success";

            }

        };

        var rzp1 = new Razorpay(options);

        document.getElementById('rzp-button').onclick = function(e){

            rzp1.open();

            e.preventDefault();

        }

    </script>

</body>

</html>